<div
  class="panel-body"
  style="margin-left: 10px; margin-right: 10px"
  *ngIf="advice_year.value._year"
>
  <!-- คณะ:&nbsp;&nbsp;<mat-form-field style="width: 30%">
    <mat-label>โปรดเลือกคณะ</mat-label>
    <mat-select required>
      <mat-option
        *ngFor="let i of dataFaculty; let x = index"
        [value]="i.name"
        (click)="clickFaculty(i.code, i.name)"
      >
        {{ i.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <span *ngIf="codeFaculty!"
    >สาขา:&nbsp;&nbsp;<mat-form-field style="width: 30%">
      <mat-label>โปรดเลือกสาขา</mat-label>
      <mat-select required>
        <mat-option
          *ngFor="let i of dataMajor; let x = index"
          [value]="i.name"
          (click)="clickMajor(i.code, i.name, i.acronym)"
        >
          {{ i.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >
  <br />

  <span *ngIf="codeMajor!"
    >หัวหน้าสาขาวิชา :&nbsp;&nbsp;{{ nameBranchhead }}&nbsp;&nbsp;</span
  >
  <br />

  <span *ngIf="codeMajor!"
    >โปรแกรมวิชา:&nbsp;&nbsp;<mat-form-field style="width: 50%">
      <mat-label>โปรดเลือกโปรแกรมวิชา</mat-label>
      <mat-select required>
        <mat-option
          style="width: auto"
          *ngFor="let i of dataBranch; let x = index"
          [value]="i.name"
          (click)="clickBranch(i.code, i.name, i.acronym)"
        >
          {{ i.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >
  <br />

  <div *ngIf="codeBranch!">
    กลุ่มเรียน:&nbsp;&nbsp;<mat-form-field>
      <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
      <mat-select required>
        <mat-option
          style="width: auto"
          *ngFor="let i of dataGroup; let x = index"
          [value]="i.study_group_id"
          (click)="
            clickGroup(
              i.study_group_id,
              i.study_group_name,
              i.titlename,
              i.fname,
              i.lname
            )
          "
        >
          {{ i.study_group_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div class="row">
    <div class="col-sm-6">
      คณะ:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกคณะ</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataFaculty; let x = index"
            [value]="i.name"
            (click)="clickFaculty(i.code, i.name)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="codeFaculty!">
      สาขา:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกสาขา</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataMajor; let x = index"
            [value]="i.name"
            (click)="clickMajor(i.code, i.name, i.acronym)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="codeMajor!">
      โปรแกรมวิชา:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกโปรแกรมวิชา</mat-label>
        <mat-select required>
          <mat-option
            style="width: auto"
            *ngFor="let i of dataBranch; let x = index"
            [value]="i.name"
            (click)="clickBranch(i.code, i.name, i.acronym)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="codeBranch!">
      กลุ่มเรียน:&nbsp;&nbsp;<mat-form-field>
        <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
        <mat-select required>
          <mat-option
            style="width: auto"
            *ngFor="let i of dataGroup; let x = index"
            [value]="i.study_group_id"
            (click)="
              clickGroup(
                i.study_group_id,
                i.study_group_name,
                i.titlename,
                i.fname,
                i.lname
              )
            "
          >
            {{ i.study_group_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="groupID!" style="padding-bottom: 15px">
    <div class="col-sm-6">
      หัวหน้าสาขาวิชา :&nbsp;&nbsp;{{ nameBranchhead }}
    </div>
    <div class="col-sm-6">
      <span></span>อาจารย์ที่ปรึกษา : &nbsp;&nbsp;{{ groupUser_name }}
    </div>
  </div>
  <div *ngIf="groupID!">
    <form [formGroup]="advice_year">
      ปีการศึกษา : &nbsp;&nbsp;
      <mat-form-field style="width: 25%">
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select
          formControlName="_year"
          (selectionChange)="getYearAdvice($event.value)"
          required
        >
          <mat-option *ngFor="let i of range" [value]="i.value">
            {{ i.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
<table class="table" *ngIf="groupID!">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">ชื่อผู้ขอคำปรึกษา</th>
      <th scope="col">เรื่อง</th>
      <th scope="col">วันที่ขอคำปรึกษา</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dataAdvice; let x = index">
      <th scope="row" style="padding-top: 15px">{{ x + 1 }}</th>
      <td style="padding-top: 15px">
        {{ i.subject_advice }}
      </td>
      <td style="padding-top: 15px">
        {{ i.titlename }}{{ i.fname }}{{ " " }}{{ i.lname }}
      </td>
      <td style="padding-top: 15px">
        {{ getDate(i.advice_date) }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#Advice"
          (click)="clickReply_data(i)"
        >
          ข้อมูลการปรึกษาและการนัดหมาย
        </button>
      </td>

      <div class="modal" id="Advice">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h2 class="modal-title">ข้อมูลการปรึกษาและการนัดหมาย</h2>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div style="overflow: auto">
                <p>
                  <strong>เรื่อง :&nbsp;</strong
                  >{{ dataReply_id.subject_advice }}
                </p>
                <br />
                <p>
                  <strong>รายละเอียด :<br /></strong>{{ dataReply_id.detail }}
                </p>
                <br />
                <p>
                  <strong>ตอบกลับคำขอปรึกษา :<br /></strong
                  >{{ dataReply_id.reply }}
                </p>
                <br />
                <p>
                  <strong>การนัดหมาย :<br /></strong>
                </p>
                <table
                  class="table"
                  *ngIf="dataAppointment_Student != null"
                  style="width: 100%"
                >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">ลำดับ</th>
                      <th scope="col">ผลที่เกิด/คำแนะนำเพิ่มเติม</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col">วันที่นัดหมาย</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                    <tr
                      *ngFor="let i of dataAppointment_Student; let x = index"
                    >
                      <th scope="row" style="padding-top: 15px">{{ x + 1 }}</th>
                      <td style="padding-top: 15px">
                        {{ i.app_suggestion }}
                      </td>
                      <td style="padding-top: 15px">{{ i.app_detail }}</td>
                      <td style="padding-top: 15px">
                        {{ getDate(i.app_date) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div
                  style="padding-bottom: 15px"
                  *ngIf="dataReply_id.advice_advisor != null"
                >
                  <strong>ไฟล์แนบ :</strong> &nbsp;&nbsp;<button
                    type="button"
                    class="btn btn-primary btn-sm"
                    [disabled]="dataReply_id.reply_advice_file == null"
                  >
                    <a
                      href="{{ http.PathPDF }}{{
                        dataReply_id.reply_advice_file
                      }}"
                      target="_blank"
                      ><font color="white">คลิกดูข้อมูลการปรึกษา</font></a
                    >
                  </button>
                </div>
                <div *ngIf="dataReply_id.advice_advisor == null">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="clickPDF_st()"
                  >
                    Export to PDF
                  </button>
                  &nbsp;&nbsp;&nbsp;
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="docxStudent()"
                  >
                    Export to Word
                  </button>
                </div>
                <br />
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<div
  *ngIf="groupID! && dataAdvice!"
  style="padding-left: 20px; padding-bottom: 20px"
>
  <button type="button" class="btn btn-primary" (click)="clickPDF_group()">
    Export to PDF
  </button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="docxGroup()">
    Export to Word
  </button>
</div>
