<mat-tab-group>
  <mat-tab label="ข้อมูลส่วนตัว">
    <div
      class="panel panel-default"
      style="
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      "
    >
      <div class="panel-heading">
        <h2 style="margin-bottom: 2px;">ข้อมูลส่วนตัว</h2>
      </div>
      <div class="panel-body" *ngFor="let i of dataStudent">
        <p><strong>รหัสนักศึกษา :</strong> &nbsp;&nbsp;{{ i.userID }}</p>
        <p>
          <strong>ชื่อ - นามสกุล :</strong>&nbsp;&nbsp; {{ i.titlename
          }}{{ i.fname }}&nbsp;&nbsp;{{ i.lname }}
        </p>
        <p><strong>E-mail:</strong>&nbsp;&nbsp;{{ i.e_mail }}</p>
        <p><strong>กลุ่มเรียน :</strong>&nbsp;&nbsp;{{ i.nameG }}</p>
        <p>
          <strong>อาจารย์ที่ปรึกษา:</strong>&nbsp;&nbsp;{{ i.t
          }}{{ i.f }}&nbsp;&nbsp;{{ i.l }}
        </p>
        <p><strong>สาขาวิชา :</strong>&nbsp;&nbsp;{{ i.nameB }}</p>
        <p>
          <strong>หัวหน้าสาขา :</strong>&nbsp;&nbsp;{{ i.t2
          }}{{ i.f2 }}&nbsp;&nbsp;{{ i.l2 }}
        </p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="ข้อมูลการศึกษา">
    <div
      class="panel panel-default"
      style="
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      "
    >
      <div class="panel-heading">
        <h2 style="margin-bottom: 2px;">ข้อมูลการศึกษา</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3" style="padding-left: 15px;">
            ประวัติส่วนตัว :&nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-sm">
              <a href="{{ http.PathPDF }}{{ getHistory }}" target="_blank"
                ><font color="white">คลิกดูประวัติส่วนตัว</font></a
              >
            </button>
          </div>

          <div class="col-md-3">
            <input
              type="file"
              class="custom-file-input"
              id="customFile"
              #filedata
              (change)="uploadHistory(filedata.files[0])"
              required
              accept=".pdf"
            />
            <label class="custom-file-label text-left" for="customFile">{{
              filesNameHistory
            }}</label>
          </div>
          &nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-success btn-sm"
            (click)="onClickuploadHistory()"
          >
            ยืนยัน
          </button>
        </div>

        <br />
        <form
          [formGroup]="fileUpload"
          #formChange="ngForm"
          (ngSubmit)="fileUpload.valid ? onClickupload() : ''"
        >
          ภาคการศึกษา :
          <mat-form-field style="width: 13%;">
            <mat-label>เลือกปีการศึกษา</mat-label>
            <mat-select
              formControlName="year"
              required
              [(value)]="selected"
              (selectionChange)="getYearTerm($event.value)"
            >
              <mat-option *ngFor="let i of range" [value]="i.value">
                {{ i.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          /
          <mat-form-field style="width: 25;">
            <mat-label>เลือกภาคการเรียน</mat-label>
            <mat-select
              formControlName="term"
              [(value)]="term"
              required
              (selectionChange)="getTerm($event.value)"
            >
              <mat-option value="1">ภาคเรียนที่ 1</mat-option>
              <mat-option value="2">ภาคเรียนที่ 2</mat-option>
              <mat-option value="3">ภาคเรียนฤดูร้อน</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="row">
            <div class="col-sm-2.5" style="padding-left: 20px;">
              <mat-form-field>
                <mat-label>โปรดเลือกไฟล์ที่ต้องการ</mat-label>
                <mat-select
                  [(value)]="selectUpload"
                  (selectionChange)="getStudy($event.value)"
                >
                  <mat-option value="timetable">ตารางเรียน</mat-option>
                  <mat-option value="results">ผลการเรียน</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <div style="padding-top: 15px;">
                <div class="col-md-4">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                    #fileInput
                    (change)="uploadFile(fileInput.files[0])"
                    required
                    accept=".pdf"
                  />
                  <label class="custom-file-label text-left" for="customFile">{{
                    filesName
                  }}</label>
                </div>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-success btn-sm">
                  ยืนยัน
                </button>
              </div>
            </div>
          </div>
          <div>
            ตารางเรียน : &nbsp; &nbsp;<button
              *ngIf="timetable!"
              type="button"
              class="btn btn-primary btn-sm"
            >
              <a href="{{ http.PathPDF }}{{ timetable }}" target="_blank"
                ><font color="white">คลิกดูตารางเรียน</font></a
              >
            </button>
          </div>

          <div style="padding-top: 20px;">
            ผลการเรียน :&nbsp; &nbsp;<button
              *ngIf="results!"
              type="button"
              class="btn btn-primary btn-sm"
            >
              <a href="{{ http.PathPDF }}{{ results }}" target="_blank"
                ><font color="white">คลิกดูผลการเรียน</font></a
              >
            </button>
          </div>
          <div style="padding-top: 20px;">
            แผนการเรียน : &nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-sm">
              <a href="{{ http.PathPDF }}{{ dataCurriculum }}" target="_blank"
                ><font color="white">คลิกดูแผนการเรียน</font></a
              >
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
