<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
  <div class="row">
    <div class="col-sm-6">
      คณะ:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกคณะ</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataFaculty; let x = index"
            [value]="i.name"
            (click)="clickFaculty(i.code, i.name)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="codeFaculty!">
      สาขา:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกสาขา</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataMajor; let x = index"
            [value]="i.name"
            (click)="clickMajor(i.code, i.name, i.acronym)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="codeMajor!" style="padding-top: 15px">
      <form
        [formGroup]="inBranchhead"
        #formChange="ngForm"
        (ngSubmit)="inBranchhead.valid ? updateBranchhead() : ''"
      >
        <span *ngIf="codeMajor!"
          >หัวหน้าสาขาวิชา :&nbsp;&nbsp;{{ nameBranchhead }}&nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#addHead"
            (click)="getIDBranchhead(IDBranchhead)"
            data-backdrop="static"
            data-keyboard="false"
          >
            แก้ไขหัวหน้าสาขา
          </button></span
        >

        <div class="modal" id="addHead">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">แก้ไขหัวหน้าสาขา</h2>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>

              <div class="modal-body">
                เลือกหัวหน้าสาขา : &nbsp;&nbsp;
                <mat-form-field style="width: 30%">
                  <mat-label>เลือกหัวหน้าสาขา</mat-label>
                  <mat-select formControlName="Branchhead" required>
                    <mat-option
                      *ngFor="let i of dataTeacher; let x = index"
                      [value]="i.userID"
                    >
                      {{ i.titlename }}{{ i.fname }}&nbsp;{{ i.lname }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  ยกเลิก
                </button>
                <button type="submit" class="btn btn-success">ตกลง</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addTeacher"
    data-backdrop="static"
    data-keyboard="false"
    *ngIf="codeMajor!"
    style="margin-top: 15px"
  >
    <i class="fas fa-plus"></i>&nbsp; เพิ่มอาจารย์
  </button>

  <!-- The Modal -->
  <div class="modal" id="addTeacher">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">เพิ่มอาจารย์</h2>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <form
          [formGroup]="teacher"
          (ngSubmit)="teacher.valid ? insertTeacher() : ''"
        >
          <!-- Modal body -->
          <div class="modal-body">
            <div>
              เลขที่ตำแหน่ง :&nbsp;&nbsp;
              <mat-form-field class="example-full-width">
                <mat-label>โปรดระบุเลขที่ตำแหน่ง</mat-label>
                <input matInput formControlName="code" required />
              </mat-form-field>
            </div>
            <div>
              คำนำหน้า :&nbsp;&nbsp;
              <mat-form-field>
                <mat-label>โปรดเลือกไฟล์ที่ต้องการ</mat-label>
                <mat-select formControlName="titlename" required>
                  <mat-option value="นาย">นาย</mat-option>
                  <mat-option value="นาง">นาง</mat-option>
                  <mat-option value="นางสาว">นางสาว</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              ชื่อ :&nbsp;&nbsp;
              <mat-form-field class="example-full-width">
                <mat-label>โปรดระบุชื่อ</mat-label>
                <input matInput formControlName="fname" required />
              </mat-form-field>
            </div>
            <div>
              นามสกุล :&nbsp;&nbsp;
              <mat-form-field class="example-full-width">
                <mat-label>โปรดระบุนามสกุล</mat-label>
                <input matInput formControlName="lname" required />
              </mat-form-field>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              ยกเลิก
            </button>
            <button type="submit" class="btn btn-success">บันทึก</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<table class="table" *ngIf="dataTeacher != null">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">เลขที่ตำแหน่ง</th>
      <th scope="col">ชื่ออาจารย์</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let i of dataTeacher
          | paginate
            : {
                id: 'pageTeacher',
                itemsPerPage: 10,
                currentPage: pageTeacher
              };
        let x = index
      "
    >
      <th scope="row" style="padding-top: 15px">
        {{ pageTeacher * 10 - 10 + (x + 1) }}
      </th>
      <td>{{ i.userID }}</td>
      <td>{{ i.titlename }}{{ i.fname }}{{ " " }}{{ i.lname }}</td>
      <td>
        <span (click)="deleteTeacher(i.userID)"
          ><i
            class="fas fa-trash-alt"
            style="font-size: 18px; color: red; cursor: pointer"
            title="ลบข้อมูล"
          ></i
        ></span>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls
    id="pageStudent"
    *ngIf="dataTeacher != null && dataTeacher.length > 10"
    responsive="true"
    previousLabel="ย้อนกลับ"
    nextLabel="ถัดไป"
    (pageChange)="pageTeacher = $event"
  ></pagination-controls>
</div>
