<div
  class="panel-body"
  style="margin-left: 10px; margin-right: 10px"
  *ngIf="assessment_year.value._year!"
>
  <div>
    กลุ่มเรียน : &nbsp;&nbsp;<mat-form-field style="width: 15%">
      <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
      <mat-select required>
        <mat-option
          style="width: auto"
          *ngFor="let i of dataGroup; let x = index"
          [value]="i.study_group_id"
          (click)="clickGroup(i.study_group_id, i.study_group_name)"
        >
          {{ i.study_group_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="codeGroup!">
    <form [formGroup]="assessment_year">
      ปีการศึกษา : &nbsp;&nbsp;
      <mat-form-field style="width: 25%">
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select
          formControlName="_year"
          (selectionChange)="getYearAssessment($event.value)"
          required
        >
          <mat-option *ngFor="let i of range" [value]="i.value">
            {{ i.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="row" *ngIf="codeGroup!">
    <div class="col-sm-2" style="padding-top: 5px">แบบประเมินความพึงพอใจ :</div>
    <div class="col-sm-3">
      <input
        style="width: 10px"
        type="file"
        class="custom-file-input"
        id="customFile"
        #fileInput
        (change)="uploadFileAssessment($event)"
        required
        accept=".xlsx"
      />
      <label class="custom-file-label text-left" for="customFile">{{
        filesName
      }}</label>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-primary"
        style="margin-top: -2px"
        (click)="uploadAssessment()"
      >
        OK
      </button>
    </div>
  </div>
</div>
<mat-tab-group ng *ngIf="codeGroup!">
  <mat-tab label="ส่วนที่ 1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="ส่วนที่ 2"> ส่วนที่ 2 </mat-tab>
  <mat-tab label="ส่วนที่ 3"> ส่วนที่ 3 </mat-tab>
</mat-tab-group>
