<div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
  กลุ่มเรียน : &nbsp;&nbsp;<mat-form-field style="width: 15%;">
    <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
    <mat-select required>
      <mat-option
        style="width: auto;"
        *ngFor="let i of dataGroup; let x = index"
        [value]="i.study_group_id"
        (click)="clickGroup(i.study_group_id)"
      >
        {{ i.study_group_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-tab-group>
  <mat-tab label="ข้อมูลการขอคำปรึกษา">
    <table class="table" *ngIf="dataAdvice != null">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">ชื่อนักศึกษา</th>
          <th scope="col">เรื่องคำปรึกษา</th>
          <th scope="col">วันที่</th>
          <th scope="col">ตอบกลับคำขอปรึกษา</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of dataAdvice; let x = index">
          <th scope="row" style="padding-top: 15px;">{{ x + 1 }}</th>
          <td style="padding-top: 15px;">
            {{ i.titlename }}{{ i.fname }}&nbsp;&nbsp;{{ i.lname }}
          </td>
          <td style="padding-top: 15px;">{{ i.subject_advice }}</td>
          <td style="padding-top: 15px;">{{ getDate(i.advice_date) }}</td>

          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#reply_advice"
              (click)="clickReply(i)"
            >
              ตอบกลับคำปรึกษา
            </button>
          </td>
          <!-- The Modal -->

          <div class="modal" id="reply_advice">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">ตอบกลับคำขอปรึกษา</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <form
                  [formGroup]="formAdvice"
                  #formChange="ngForm"
                  (ngSubmit)="formAdvice.valid ? insertReplyAdvice() : ''"
                >
                  <div class="modal-body">
                    <label for="exampleFormControlInput1">เรื่อง</label>
                    <input
                      readonly
                      class="form-control"
                      type="text"
                      [value]="dataReply.subject_advice"
                      required
                    />
                    <br />
                    <label for="exampleFormControlTextarea1">รายละเอียด</label>
                    <textarea
                      readonly
                      class="form-control"
                      id="exampleFormControlTextarea"
                      rows="3"
                      [value]="dataReply.detail"
                      required
                    ></textarea>
                    <br />
                    <label for="exampleFormControlTextarea1"
                      >ตอบกลับคำขอปรึกษา</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea"
                      rows="3"
                      formControlName="replyAdvice"
                      required
                    ></textarea>
                    <br />
                    <div class="row">
                      <div
                        class="col-md-2.9"
                        style="padding-top: 5px; padding-left: 15px;"
                      >
                        <strong>แนบไฟล์ :</strong>
                      </div>

                      <div class="col-md-7">
                        <input
                          type="file"
                          class="form-control-file border"
                          id="customFile"
                          #fileInput
                          (change)="uploadFileAdvice(fileInput.files[0])"
                          required
                          accept=".pdf"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      ยกเลิก
                    </button>
                    <button type="submit" class="btn btn-success">
                      บันทึก
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="ข้อมูลการตอบคำปรึกษา">
    <table class="table" *ngIf="dataAdvice_notNull != null">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">ชื่อนักศึกษา</th>
          <th scope="col">เรื่องคำปรึกษา</th>
          <th scope="col">วันที่</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of dataAdvice_notNull; let x = index">
          <th scope="row" style="padding-top: 15px;">{{ x + 1 }}</th>
          <td style="padding-top: 15px;">
            {{ i.titlename }}{{ i.fname }}&nbsp;&nbsp;{{ i.lname }}
          </td>
          <td style="padding-top: 15px;">{{ i.subject_advice }}</td>
          <td style="padding-top: 15px;">{{ getDate(i.reply_advice_date) }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#ReplyData"
              (click)="clickReply_data(i)"
            >
              ข้อมูลการตอบคำปรึกษา
            </button>
            &nbsp;&nbsp;
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#addAppointment"
              (click)="clickReply_data(i)"
            >
              เพิ่มการนัดหมาย
            </button>
            &nbsp;&nbsp;
            <i
              class="fas fa-edit"
              style="font-size: 18px; cursor: pointer;"
              title="แก้ไขข้อมูล"
              data-toggle="modal"
              data-target="#updateAdvice"
            ></i>
            &nbsp;&nbsp;
            <span
              ><i
                class="fas fa-trash-alt"
                style="font-size: 18px; color: red; cursor: pointer;"
                title="ลบข้อมูล"
              ></i
            ></span>
          </td>
          <!-- The Modal -->
          <div class="modal" id="ReplyData">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">ข้อมูลการตอบคำปรึกษา</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <label for="exampleFormControlInput1">เรื่อง</label>
                  <input
                    readonly
                    class="form-control"
                    type="text"
                    [value]="dataReply_id.subject_advice"
                    required
                  />
                  <br />
                  <label for="exampleFormControlTextarea1">รายละเอียด</label>
                  <textarea
                    readonly
                    class="form-control"
                    id="exampleFormControlTextarea"
                    rows="3"
                    [value]="dataReply_id.detail"
                    required
                  ></textarea>
                  <br />
                  <label for="exampleFormControlTextarea1"
                    >ตอบกลับคำขอปรึกษา</label
                  >
                  <textarea
                    readonly
                    class="form-control"
                    id="exampleFormControlTextarea"
                    rows="3"
                    [value]="dataReply_id.reply"
                    required
                  ></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- The Modal -->
          <div class="modal" id="addAppointment">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">เพิ่มการนัดหมาย</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <form
                  [formGroup]="formAppointment"
                  #formChange="ngForm"
                  (ngSubmit)="formAppointment.valid ? insertAppointment() : ''"
                >
                  <!-- Modal body -->
                  <div class="modal-body">
                    <label for="exampleFormControlTextarea1"
                      >ผลที่เกิด/คำแนะนำเพิ่มเติม</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea"
                      rows="3"
                      formControlName="suggestion"
                    ></textarea>
                    <br />
                    <label for="exampleFormControlTextarea1">หมายเหตุ</label>
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea"
                      rows="3"
                      formControlName="detail"
                    ></textarea>
                    <br />
                    <strong>วันที่นัดหมาย : </strong>&nbsp;&nbsp;
                    <mat-form-field>
                      <mat-label>โปรดเลือกวันที่</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="to"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      ยกเลิก
                    </button>
                    <button type="submit" class="btn btn-success">
                      บันทึก
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- The Modal -->
          <div class="modal" id="updateAdvice">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">แก้ไขการตอบคำปรึกษา</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="ข้อมูลการนัดหมาย"> </mat-tab>
</mat-tab-group>
