<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="text-center">
      <img
        src="assets/rmuti.png"
        class="w3-round"
        style="width: 40%; text-align: center"
      />
      <br />
      <strong>{{ dataProfile }}</strong>
    </div>
    <mat-nav-list *ngIf="status == 'Admin'">
      <a
        mat-list-item
        [routerLink]="['/admin/manage-data']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-tools"></i>&nbsp;&nbsp;<strong
          >จัดการข้อมูล</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/admin/advice-data']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-envelope"></i>&nbsp;&nbsp;<strong
          >การขอคำปรึกษา</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/admin/goodness-record']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-clipboard"></i>&nbsp;&nbsp;<strong
          >บันทึกรายงานพฤติกรรมดีเด่น</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/admin/action-plan']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-file-alt"></i>&nbsp;&nbsp;<strong
          >แผนปฏิบัติงาน</strong
        ></a
      >
      <a mat-list-item (click)="onLogout()"
        ><font color="red"
          ><i class="fas fa-sign-out-alt"></i> <strong>ออกระบบ</strong></font
        ></a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="status == '4500'">
      <a
        mat-list-item
        [routerLink]="['/student/upload-file']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-tools"></i>&nbsp;&nbsp;<strong
          >จัดการข้อมูล</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/student/advice-data']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-envelope"></i>&nbsp;&nbsp;<strong
          >การขอคำปรึกษา</strong
        ></a
      >

      <a mat-list-item (click)="onLogout()"
        ><font color="#CD5C5C"
          ><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;
          <strong>ออกระบบ</strong></font
        ></a
      >
    </mat-nav-list>

    <mat-nav-list *ngIf="status == '2500'">
      <a
        mat-list-item
        [routerLink]="['/teacher/manage-data']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-tools"></i>&nbsp;&nbsp;<strong
          >จัดการข้อมูล</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/teacher/advice-data']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-envelope"></i>&nbsp;&nbsp;<strong
          >ข้อมูลคำปรึกษา</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/teacher/goodness-record']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-clipboard"></i>&nbsp;&nbsp;<strong
          >บันทึกรายงานพฤติกรรมดีเด่น</strong
        ></a
      >
      <a
        mat-list-item
        [routerLink]="['/teacher/action-plan']"
        [routerLinkActive]="['link-active']"
        ><i class="fas fa-file-alt"></i>&nbsp;&nbsp;<strong
          >แผนปฏิบัติงาน</strong
        ></a
      >
      <a mat-list-item (click)="onLogout()"
        ><font color="#CD5C5C"
          ><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;
          <strong>ออกระบบ</strong></font
        ></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <i class="fas fa-ellipsis-v"></i>
      </button>

      <span>ระบบอาจารย์ที่ปรึกษา<br />Advisor System</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
