<div
  class="panel-body"
  style="margin-left: 10px; margin-right: 10px"
  *ngIf="actionPlan_year.value._year"
>

  <div class="row">
    <div class="col-sm-6">
      คณะ:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกคณะ</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataFaculty; let x = index"
            [value]="i.name"
            (click)="clickFaculty(i.code, i.name)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="codeFaculty!">
      สาขา:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกสาขา</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataMajor; let x = index"
            [value]="i.name"
            (click)="clickMajor(i.code, i.name, i.acronym)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="codeMajor!">
      โปรแกรมวิชา:&nbsp;&nbsp;<mat-form-field style="width: 80%">
        <mat-label>โปรดเลือกโปรแกรมวิชา</mat-label>
        <mat-select required>
          <mat-option
            style="width: auto"
            *ngFor="let i of dataBranch; let x = index"
            [value]="i.name"
            (click)="clickBranch(i.code, i.name, i.acronym)"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6" *ngIf="codeBranch!">
      กลุ่มเรียน:&nbsp;&nbsp;<mat-form-field>
        <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
        <mat-select required>
          <mat-option
            style="width: auto"
            *ngFor="let i of dataGroup; let x = index"
            [value]="i.study_group_id"
            (click)="
              clickGroup(
                i.study_group_id,
                i.study_group_name,
                i.titlename,
                i.fname,
                i.lname
              )
            "
          >
            {{ i.study_group_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="groupID!" style="padding-bottom: 15px">
    <div class="col-sm-6">
      หัวหน้าสาขาวิชา :&nbsp;&nbsp;{{ nameBranchhead }}
    </div>
    <div class="col-sm-6">
      <span></span>อาจารย์ที่ปรึกษา : &nbsp;&nbsp;{{ groupUser_name }}
    </div>
  </div>
  <div *ngIf="groupID!">
    <form [formGroup]="actionPlan_year">
      ปีการศึกษา : &nbsp;&nbsp;
      <mat-form-field>
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select
          formControlName="_year"
          (selectionChange)="getYearactionPlan($event.value)"
          required
        >
          <mat-option *ngFor="let i of range" [value]="i.value">
            {{ i.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="groupID!">
    สถานะ : &nbsp;
    <button
      type="button"
      class="btn btn-primary"
      style="cursor: none"
      *ngIf="dataActionPlan_Status == null && dataActionPlan_Completed != null"
    >
      รอการอนุมัติแผนการปฏิบัติงาน
    </button>
    <button
      type="button"
      class="btn btn-success"
      style="cursor: none"
      *ngIf="dataActionPlan_Status != null && dataActionPlan_Completed != null"
    >
      อนุมัติแผนการปฏิบัติงานแล้ว
    </button>
  </div>
</div>
<div>
  <table class="table table-bordered" *ngIf="dataActionPlan_Completed!">
    <thead>
      <tr>
        <th>ลำดับ</th>
        <th>รายการ</th>
        <th>ช่วงเวลา</th>
        <th scope="col" *ngFor="let i of month">{{ i }}</th>
        <th scope="col" *ngFor="let j of month2">{{ j }}</th>
        <th>หมายเหตุ</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let i of dataActionPlan_Completed; let x = index; let j = index"
      >
        <th
          *ngIf="x % 2 == 0 ? true : false"
          rowspan="2"
          style="vertical-align: middle; text-align: center"
        >
          {{ (j + 1) / 2 + 0.5 }}
        </th>
        <td
          *ngIf="x % 2 == 0 ? true : false"
          rowspan="2"
          style="vertical-align: middle; text-align: left"
        >
          {{ i.action_plan_list }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ i.apa_distance }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m1) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m2) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m3) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m4) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m5) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m6) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m7) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m8) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m9) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m10) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m11) }}
        </td>
        <td style="vertical-align: middle; text-align: center">
          {{ getValue(i.apa_m12) }}
        </td>
        <td style="vertical-align: middle; text-align: left">
          {{ i.note }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  style="padding-left: 20px; padding-bottom: 20px"
  *ngIf="groupID! && dataPlan_month != null && dataActionPlan_Completed!"
>
  <button type="button" class="btn btn-primary" (click)="exportPDF()">
    Export to PDF
  </button>
  &nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="createDOC()">
    Export to Word
  </button>
</div>
