<mat-tab-group *ngIf="actionPlan_year.value._year">
  <mat-tab label="สำหรับอาจารย์ที่ปรึกษา">
    <div class="panel-body" style="margin-left: 10px; margin-right: 10px">
      <div>
        กลุ่มเรียน : &nbsp;&nbsp;<mat-form-field style="width: 15%">
          <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
          <mat-select required>
            <mat-option
              style="width: auto"
              *ngFor="let i of dataGroup; let x = index"
              [value]="i.study_group_id"
              (click)="clickGroup(i)"
            >
              {{ i.study_group_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="codeGroup!">
        <form [formGroup]="actionPlan_year">
          ปีการศึกษา : &nbsp;&nbsp;
          <mat-form-field style="width: 25%">
            <mat-label>เลือกปีการศึกษา</mat-label>
            <mat-select
              formControlName="_year"
              (selectionChange)="getYearactionPlan($event.value)"
              required
            >
              <mat-option *ngFor="let i of range" [value]="i.value">
                {{ i.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="codeGroup!">
        สถานะ : &nbsp;
        <button
          type="button"
          class="btn btn-primary"
          style="cursor: none"
          *ngIf="
            dataActionPlan_Status == null && dataActionPlan_Completed != null
          "
        >
          รอการอนุมัติแผนการปฏิบัติงาน
        </button>
        <button
          type="button"
          class="btn btn-success"
          style="cursor: none"
          *ngIf="
            dataActionPlan_Status != null && dataActionPlan_Completed != null
          "
        >
          อนุมัติแผนการปฏิบัติงานแล้ว
        </button>
      </div>
      <!-- <div *ngIf="codeGroup!" style="padding-top: 20px">
        เลือกเดือนเริ่มต้นปีการศึกษา : &nbsp;&nbsp;
        <mat-form-field style="width: 10%" *ngIf="dataPlan_month == null">
          <mat-label>เลือกเดือน</mat-label>
          <mat-select
            (selectionChange)="getMonthactionPlan($event.value)"
            required
          >
            <mat-option *ngFor="let i of thmonth" [value]="i">
              {{ i }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button
          class="btn btn-primary"
          type="button"
          (click)="addPlan_month()"
          *ngIf="dataPlan_month == null"
        >
          ตกลง
        </button>
        <button
          class="btn btn-primary"
          type="button"
          (click)="delMonth()"
          *ngIf="dataPlan_month != null"
        >
          เปลี่ยนแปลงเดือนเริ่มต้น
        </button>
      </div> -->

      <form
        [formGroup]="actionPlan_list"
        (ngSubmit)="actionPlan_list.valid ? addListPlan() : ''"
      >
        <div *ngIf="dataPlan_month != null && dataListPlan == null">
          <div>
            รายการ :
            <mat-form-field style="width: 80%">
              <mat-label>ระบุรายการ</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-plus"></i>&nbsp;เพิ่มรายการ
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <table class="table table-bordered" *ngIf="dataListPlan != null">
        <thead>
          <tr>
            <th>รายการ</th>
            <th>ช่วงเวลา</th>
            <th scope="col" *ngFor="let i of month">{{ i }}</th>
            <th scope="col" *ngFor="let j of month2">{{ j }}</th>
            <th>หมายเหตุ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of dataListPlan">
            <td style="vertical-align: middle; text-align: center">
              {{ i.action_plan_list }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ distance }}
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP1"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP2"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP3"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP4"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP5"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP6"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP7"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP8"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP9"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP10"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP11"></mat-checkbox>
            </td>
            <td td style="text-align: center; vertical-align: middle">
              <mat-checkbox [(ngModel)]="newAttribute.moP12"></mat-checkbox>
            </td>
            <td>
              <mat-form-field
                style="width: 100px"
                style="text-align: left; vertical-align: middle"
              >
                <input matInput [(ngModel)]="newAttribute.noteP" />
              </mat-form-field>
            </td>
            <td style="vertical-align: middle; text-align: center">
              <span (click)="addListPlan_Action(i.action_plan_id)"
                ><i
                  class="fas fa-save"
                  style="font-size: 18px; cursor: pointer"
                  title="บันทึกข้อมูล"
                ></i>
              </span>
              &nbsp;
              <span (click)="delListPlan(i.action_plan_id)"
                ><i
                  class="fas fa-trash-alt"
                  style="font-size: 18px; color: red; cursor: pointer"
                  title="ลบข้อมูล"
                ></i
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table
        class="table table-bordered"
        *ngIf="
          codeGroup! && dataPlan_month != null && dataActionPlan_Completed!
        "
      >
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รายการ</th>
            <th>ช่วงเวลา</th>
            <th scope="col" *ngFor="let i of month">{{ i }}</th>
            <th scope="col" *ngFor="let j of month2">{{ j }}</th>
            <th>หมายเหตุ</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let i of dataActionPlan_Completed;
              let x = index;
              let j = index
            "
          >
            <th
              *ngIf="x % 2 == 0 ? true : false"
              rowspan="2"
              style="vertical-align: middle; text-align: center"
            >
              {{ (j + 1) / 2 + 0.5 }}
            </th>
            <td
              *ngIf="x % 2 == 0 ? true : false"
              rowspan="2"
              style="vertical-align: middle; text-align: left"
            >
              {{ i.action_plan_list }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ i.apa_distance }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m1) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m2) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m3) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m4) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m5) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m6) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m7) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m8) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m9) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m10) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m11) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m12) }}
            </td>
            <td style="vertical-align: middle; text-align: left">
              {{ i.note }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              <span
                (click)="clickEdit_Action(i)"
                *ngIf="
                  i.apa_distance == 'A' && dataActionPlan_Status == null
                    ? false
                    : true
                "
                ><i
                  class="fas fa-pen-square"
                  style="font-size: 18px; cursor: pointer"
                  title="แก้ไขข้อมูลช่วงเวลา"
                  data-toggle="modal"
                  data-target="#editAction"
                ></i
              ></span>
            </td>
            <td
              style="vertical-align: middle; text-align: center"
              *ngIf="x % 2 == 0 ? true : false"
              rowspan="2"
            >
              <span
                (click)="clickEdit_List(i.action_plan_list, i.action_plan_id)"
                ><i
                  class="fas fa-edit"
                  style="font-size: 18px; cursor: pointer"
                  title="แก้ไขข้อมูลรายการ"
                  data-toggle="modal"
                  data-target="#editList"
                ></i
              ></span>
              &nbsp;
              <span (click)="delListPlan(i.action_plan_id)"
                ><i
                  class="fas fa-trash-alt"
                  style="font-size: 18px; color: red; cursor: pointer"
                  title="ลบข้อมูล"
                ></i
              ></span>
            </td>
          </tr>
          <div class="modal" id="editAction">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">แก้ไขช่วงเวลา</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div style="overflow: auto">
                    <div>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>รายการ</th>
                            <th>ช่วงเวลา</th>
                            <th scope="col" *ngFor="let i of month">{{ i }}</th>
                            <th scope="col" *ngFor="let j of month2">
                              {{ j }}
                            </th>
                            <th>หมายเหตุ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td
                              style="vertical-align: middle; text-align: center"
                            >
                              {{ dataAction.list }}
                            </td>
                            <td
                              style="vertical-align: middle; text-align: center"
                            >
                              {{ dataAction.distance }}
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP1"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP2"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP3"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP4"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP5"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP6"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP7"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP8"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP9"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP10"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP11"
                              ></mat-checkbox>
                            </td>
                            <td
                              td
                              style="text-align: center; vertical-align: middle"
                            >
                              <mat-checkbox
                                [(ngModel)]="newAttribute3.EDITEmoP12"
                              ></mat-checkbox>
                            </td>
                            <td>
                              <mat-form-field
                                style="width: 100px"
                                style="text-align: left; vertical-align: middle"
                              >
                                <input
                                  matInput
                                  [(ngModel)]="newAttribute3.EDITEnoteP"
                                />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    ยกเลิก
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="updateAction()"
                  >
                    บันทึก
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" id="editList">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title">แก้ไขรายการ</h2>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <form
                  [formGroup]="actionPlan_list"
                  (ngSubmit)="actionPlan_list.valid ? clickUpdateList() : ''"
                >
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div>
                      รายการ :
                      <mat-form-field style="width: 80%">
                        <input matInput formControlName="name" required />
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      ยกเลิก
                    </button>
                    <button type="submit" class="btn btn-success">
                      บันทึก
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
    <div
      style="padding-left: 20px; padding-bottom: 20px"
      *ngIf="codeGroup! && dataPlan_month != null && dataActionPlan_Completed!"
    >
      <button type="button" class="btn btn-primary" (click)="exportPDF()">
        Export to PDF
      </button>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="createDOC()">
        Export to Word
      </button>
    </div>
  </mat-tab>
  <mat-tab label="สำหรับหัวหน้าสาขา" *ngIf="dataBranchhead != null">
    <div class="panel-body" style="margin-left: 10px; margin-right: 10px">
      <div>
        โปรแกรมวิชา:&nbsp;&nbsp;<mat-form-field style="width: 50%">
          <mat-label>โปรดเลือกโปรแกรมวิชา</mat-label>
          <mat-select required>
            <mat-option
              style="width: auto"
              *ngFor="let i of dataBranch; let x = index"
              [value]="i.name"
              (click)="clickBranch_Branchhead(i)"
            >
              {{ i.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="dataGroup_Branchhead!">
        กลุ่มเรียน:&nbsp;&nbsp;<mat-form-field>
          <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
          <mat-select required>
            <mat-option
              style="width: auto"
              *ngFor="let i of dataGroup_Branchhead; let x = index"
              [value]="i.study_group_id"
              (click)="clickgroup_Branchhead(i)"
            >
              {{ i.study_group_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="group_Branchhead!">
        <form [formGroup]="actionPlan_year_Branchhead">
          ปีการศึกษา : &nbsp;&nbsp;
          <mat-form-field style="width: 25%">
            <mat-label>เลือกปีการศึกษา</mat-label>
            <mat-select
              formControlName="year"
              (selectionChange)="getYearactionPlan_Branchhead($event.value)"
              required
            >
              <mat-option *ngFor="let i of range" [value]="i.value">
                {{ i.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="group_Branchhead!">
        สถานะ : &nbsp;
        <button
          type="button"
          class="btn btn-primary"
          (click)="addActionPlan_Status()"
          *ngIf="
            dataActionPlan_Status_Branchhead == null &&
            dataActionPlan_Branchhead != null
          "
        >
          คลิกอนุมัติแผนการปฏิบัติงาน
        </button>
        <button
          type="button"
          class="btn btn-success"
          style="cursor: none"
          *ngIf="
            dataActionPlan_Status_Branchhead != null &&
            dataActionPlan_Branchhead != null
          "
        >
          อนุมัติแผนการปฏิบัติงานแล้ว
        </button>
      </div>
    </div>

    <div>
      <table class="table table-bordered" *ngIf="dataActionPlan_Branchhead!">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รายการ</th>
            <th>ช่วงเวลา</th>
            <th scope="col" *ngFor="let i of month_Branchhead">{{ i }}</th>
            <th scope="col" *ngFor="let j of month2_Branchhead">{{ j }}</th>
            <th>หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let i of dataActionPlan_Branchhead;
              let x = index;
              let j = index
            "
          >
            <th
              *ngIf="x % 2 == 0 ? true : false"
              rowspan="2"
              style="vertical-align: middle; text-align: center"
            >
              {{ (j + 1) / 2 + 0.5 }}
            </th>
            <td
              *ngIf="x % 2 == 0 ? true : false"
              rowspan="2"
              style="vertical-align: middle; text-align: left"
            >
              {{ i.action_plan_list }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ i.apa_distance }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m1) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m2) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m3) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m4) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m5) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m6) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m7) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m8) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m9) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m10) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m11) }}
            </td>
            <td style="vertical-align: middle; text-align: center">
              {{ getValue(i.apa_m12) }}
            </td>
            <td style="vertical-align: middle; text-align: left">
              {{ i.note }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
