<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
  คณะ:&nbsp;&nbsp;<mat-form-field style="width: 30%">
    <mat-label>โปรดเลือกคณะ</mat-label>
    <mat-select required>
      <mat-option
        *ngFor="let i of dataFaculty; let x = index"
        [value]="i.name"
        (click)="clickFaculty(i.code, i.name)"
      >
        {{ i.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <span *ngIf="codeFaculty!"
    >สาขา:&nbsp;&nbsp;<mat-form-field style="width: 30%">
      <mat-label>โปรดเลือกสาขา</mat-label>
      <mat-select required>
        <mat-option
          *ngFor="let i of dataMajor; let x = index"
          [value]="i.name"
          (click)="clickMajor(i.code, i.name, i.acronym)"
        >
          {{ i.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >
  <br />

  <span *ngIf="codeMajor!"
    >หัวหน้าสาขาวิชา :&nbsp;&nbsp;{{ nameBranchhead }}&nbsp;&nbsp;</span
  >
  <br />

  <span *ngIf="codeMajor!"
    >โปรแกรมวิชา:&nbsp;&nbsp;<mat-form-field style="width: 50%">
      <mat-label>โปรดเลือกโปรแกรมวิชา</mat-label>
      <mat-select required>
        <mat-option
          style="width: auto"
          *ngFor="let i of dataBranch; let x = index"
          [value]="i.name"
          (click)="clickBranch(i.code, i.name, i.acronym)"
        >
          {{ i.name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >
  <br />

  <div *ngIf="codeBranch!">
    กลุ่มเรียน:&nbsp;&nbsp;<mat-form-field>
      <mat-label>โปรดเลือกกลุ่มเรียน</mat-label>
      <mat-select required>
        <mat-option
          style="width: auto"
          *ngFor="let i of dataGroup; let x = index"
          [value]="i.study_group_id"
          (click)="
            clickGroup(
              i.study_group_id,
              i.study_group_name,
              i.titlename,
              i.fname,
              i.lname
            )
          "
        >
          {{ i.study_group_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br />
  <span *ngIf="groupID!"
    >อาจารย์ที่ปรึกษา : &nbsp;&nbsp;{{ groupUser_name }}</span
  >
  <div *ngIf="groupID!">
    <form [formGroup]="goodness_year">
      ปีการศึกษา : &nbsp;&nbsp;
      <mat-form-field style="width: 25%">
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select
          formControlName="_year"
          (selectionChange)="getYearGoodness($event.value)"
          required
        >
          <mat-option *ngFor="let i of range" [value]="i.value">
            {{ i.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
<table class="table" *ngIf="groupID!">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">ชื่อนักศึกษา</th>
      <th scope="col">พฤติกรรมดีเด่น</th>
      <th scope="col">รางวัลที่ได้รับ</th>
      <th scope="col">หมายเหตุ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dataGoodness; let x = index">
      <th scope="row">{{ x + 1 }}</th>
      <td>{{ i.titlename }}{{ i.fname }}{{ " " }}{{ i.lname }}</td>
      <td>
        {{ i.osb_detail }}
      </td>
      <td>
        {{ i.osb_award }}
      </td>
      <td>
        {{ i.osb_note }}
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="dataGoodness != null" style="padding-left: 15px">
  <button type="button" class="btn btn-primary">Export to PDF</button
  >&nbsp;&nbsp;<button type="button" class="btn btn-primary">
    Export to Word
  </button>
</div>
