<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
  <div id="calender_yearr">
    <form [formGroup]="date_year">
      ภาคการศึกษา : &nbsp;&nbsp;
      <mat-form-field style="width: 15%">
        <mat-label>เลือกปีการศึกษา</mat-label>
        <mat-select
          formControlName="_year"
          (selectionChange)="getYearStudy($event.value)"
          required
        >
          <mat-option *ngFor="let i of range" [value]="i.value">
            {{ i.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addCalendar"
    (click)="clickCalendar()"
  >
    <i class="fas fa-cog"></i>&nbsp; จัดการข้อมูลปีการศึกษา
  </button>
  <br /><br />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ลำดับ</th>
        <th scope="col">ภาคการเรียน</th>
        <th scope="col">ปีการศึกษา</th>
        <th scope="col">วันเปิดภาคการศึกษา</th>
        <th scope="col">วันปิดภาคการศึกษา</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of dataCalendar; let x = index">
        <th scope="row">{{ x + 1 }}</th>
        <td>{{ i.term }}</td>
        <td>{{ i.year }}</td>
        <td>{{ getDate(i.date_start) }}</td>
        <td>{{ getDate(i.date_end) }}</td>
        <td>
          <span (click)="clickEditCalendar(i)"
            ><i
              class="fas fa-edit"
              style="font-size: 18px; cursor: pointer"
              title="แก้ไขข้อมูล"
              data-toggle="modal"
              data-target="#editCalendar"
            ></i
          ></span>
          &nbsp;&nbsp;&nbsp;
          <span (click)="deleteCalendar(i.year, i.term)"
            ><i
              class="fas fa-trash-alt"
              style="font-size: 18px; color: red; cursor: pointer"
              title="ลบข้อมูล"
            ></i
          ></span>
        </td>
        <!-- The Modal -->
        <div class="modal" id="editCalendar">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">แก้ไขข้อมูลปีการศึกษา</h4>
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form
                  [formGroup]="date_student"
                  #formChange="ngForm"
                  (ngSubmit)="date_student.valid ? updateCalendar() : ''"
                >
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div>
                      ภาคการศึกษา : &nbsp;&nbsp;
                      <mat-form-field style="width: 25%">
                        <mat-label>เลือกปีการศึกษา</mat-label>
                        <mat-select required formControlName="selected_year">
                          <mat-option
                            *ngFor="let i of year_study"
                            [value]="i.value"
                          >
                            {{ i.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      /
                      <mat-form-field style="width: 30">
                        <mat-label>เลือกภาคการเรียน</mat-label>
                        <mat-select formControlName="selected_term" required>
                          <mat-option value="1">ภาคเรียนที่ 1</mat-option>
                          <mat-option value="2">ภาคเรียนที่ 2</mat-option>
                          <mat-option value="3">ภาคเรียนฤดูร้อน</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div>
                      วันเปิดเทอม - วันปิดเทอม : &nbsp;&nbsp;
                      <mat-form-field style="width: 120px">
                        <mat-label>โปรดเลือกวันเปิดเทอม</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="start"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      &nbsp;&nbsp;-&nbsp;&nbsp;<mat-form-field
                        style="width: 120px"
                      >
                        <mat-label>โปรดเลือกวันปิดเทอม</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker3"
                          formControlName="end"
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                      >
                        ยกเลิก
                      </button>
                      <button type="sumit" class="btn btn-success">
                        บันทึก
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
<!-- The Modal -->
<div class="modal" id="addCalendar">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title">จัดการข้อมูลปีการศึกษา</h2>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form
        [formGroup]="date_student"
        #formChange="ngForm"
        (ngSubmit)="date_student.valid ? insertCalendar() : ''"
      >
        <!-- Modal body -->
        <div class="modal-body">
          <div>
            ภาคการศึกษา : &nbsp;&nbsp;
            <mat-form-field style="width: 25%">
              <mat-label>เลือกปีการศึกษา</mat-label>
              <mat-select required formControlName="selected_year">
                <mat-option *ngFor="let i of year_study" [value]="i.value">
                  {{ i.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            /
            <mat-form-field
              style="width: 30"
              *ngIf="date_student.value.selected_year"
            >
              <mat-label>เลือกภาคการเรียน</mat-label>
              <mat-select formControlName="selected_term" required>
                <mat-option value="1">ภาคเรียนที่ 1</mat-option>
                <mat-option value="2">ภาคเรียนที่ 2</mat-option>
                <mat-option value="3">ภาคเรียนฤดูร้อน</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="date_student.value.selected_term">
            วันเปิดเทอม - วันปิดเทอม : &nbsp;&nbsp;
            <mat-form-field style="width: 130px">
              <mat-label>โปรดเลือกวันเปิดเทอม</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="start"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;&nbsp;-&nbsp;&nbsp;<mat-form-field style="width: 130px">
              <mat-label>โปรดเลือกวันปิดเทอม</mat-label>
              <input matInput [matDatepicker]="picker3" formControlName="end" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker3"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              ยกเลิก
            </button>
            <button type="sumit" class="btn btn-success">บันทึก</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
